#
# CODECs line control driver config file
#

config ARC_CX2070X_I2C
	tristate "CX2070X I2C Control Interface"
	depends on I2C && SYSFS && ARC_ADI
	help
	 ARCturus CX2070x I2C Interface is i2c control
	 interface to Conexant CX2070x spoc's devices.
	
	 This driver can also be built as a module
