// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Arcturus uCLS1012A-SOM.
 *
 * Copyright 2017,2018, Arcturus Networks Inc.
 *
 */
/dts-v1/;

#include "arc-ls1012a.dtsi"

/ {
	model = "uCLS1012A-SOM Board";
	compatible = "fsl,ls1012a-frdm", "fsl,ls1012a";

	aliases {
		crypto = &crypto;
		ethernet0 = &pfe_mac0;
		ethernet1 = &pfe_mac1;
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	regulator_1p8v: regulator {
		compatible = "regulator-fixed";
		regulator-name = "1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	gpio-leds {
		compatible = "gpio-leds";
		led1 {
			label = "led1";
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		reset_cx {
			label = "reset_cx";
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		};
		reset_lpc { /* For new Rev.1.4 module */
			label = "reset_lpc";
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		button1 {
			label = "pbtn1";
			linux,code = <KEY_1>;
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		};

		kw41z_irq {
			label = "kw41z_irq";
			linux,code = <KEY_2>;
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio-restart {
		compatible = "gpio-restart";
		/* gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>; For modules Rev. < 1,4 */
		gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		open-source;
	};
};

&pcie {
	status = "okay";
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	dtt@4C {
		compatible = "national,lm90";
		reg = <0x4C>;
	};
};

&qspi {
	num-cs = <1>;
	bus-num = <0>;
	status = "okay";

	qflash0: n25q00a@0 {
		compatible = "micron,n25q00a", "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		m25p,fast-read;
		spi-max-frequency = <20000000>;
		reg = <0>;
		spi-rx-bus-width = <2>;
		spi-tx-bus-width = <2>;
	};
};

&pfe {
	status = "okay";
	ethernet@0 {
		compatible = "fsl,pfe-gemac-port";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0>;	/* GEM_ID */
		fsl,gemac-bus-id = <0x0>;	/* BUS_ID */
		fsl,gemac-phy-id = <0x4>;	/* PHY_ID */
		fsl,mdio-mux-val = <0x0>;
		local-mac-address = [ 00 1A 2B 3C 4D 5E ];
		phy-mode = "sgmii";
		fsl,pfe-gemac-if-name = "eth0";
		fsl,pfe-phy-if-flags = <0x0>;
		fsl,pfe-gemac-mode = <0x1B00>; /* GEMAC_SW_CONF | GEMAC_SW_FULL_DUPLEX | GEMAC_SW_SPEED_1G */

		mdio@0 {
			reg = <0x1>; /* enabled/disabled */
			fsl,mdio-phy-mask = <0xFFFFFFCF>;
		};
	};

	ethernet@1 {
		compatible = "fsl,pfe-gemac-port";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x1>;	/* GEM_ID */
		fsl,gemac-bus-id = <0x1>;	/* BUS_ID */
		fsl,gemac-phy-id = <0x5>;	/* PHY_ID */
		fsl,mdio-mux-val = <0x0>;
		local-mac-address = [ 00 AA BB CC DD EE ];
		phy-mode = "sgmii";
		fsl,pfe-gemac-if-name = "eth1";
		fsl,pfe-phy-if-flags = <0x0>;
		fsl,pfe-gemac-mode = <0x1B00>; /* GEMAC_SW_CONF | GEMAC_SW_FULL_DUPLEX | GEMAC_SW_SPEED_1G */

		mdio@0 {
			reg = <0x0>; /* enabled/disabled */
			fsl,mdio-phy-mask = <0xFFFFFFCF>;
		};
	};
};

&sai2 {
	status = "disabled";
};

&sata {
	status = "okay";
};

&dspi {
	bus-num = <0>;
	status = "okay";
/***
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "w25q32dw", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
***/
	spidev@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <10000000>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};
};

&esdhc0 {
	status = "okay";
};

&ftm0 {
	status = "okay";
};

