// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Arcturus uCLS1012A-SOM120
 *
 * Copyright 2017-2022, Arcturus Networks Inc.
 *
 */
/dts-v1/;

#define RESET_BY_GPIO 0
#define ENABLE_EXTERNAL_WATCHDOG_PING 0

#include "arc-ls1012a.dtsi"

/ {
	model = "uCLS1012A-SOM120";
	compatible = "arc,ucls1012a-som120", "fsl,ls1012a";

	aliases {
		ethernet0 = &pfe_mac0;
		ethernet1 = &pfe_mac1;
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};
#if RESET_BY_GPIO
	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		open-source;
		priority = <200>;
	};
#endif
	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

#if ENABLE_EXTERNAL_WATCHDOG_PING
	xwatchdog: xwatchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;
		hw_algo = "toggle";
		hw_margin_ms = <5000>;
		always-running;
		status = "okay";
	};
#endif

	leds {
		compatible = "gpio-leds";
		status = "okay";
#if 0
		led1 {
			label = "OUT1";
			gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		led2 {
			label = "OUT2";
			gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led3 {
			label = "OUT3";
			gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		led4 {
			label = "OUT4";
			gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led5 {
			label = "OUT5";
			gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		led6 {
			label = "OUT6";
			gpios = <&gpio2 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led7 {
			label = "OUT7";
			gpios = <&gpio2 14 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		led8 {
			label = "OUT8";
			gpios = <&gpio2 15 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		amp_en {
			label = "AMP_EN";
			gpios = <&gpio3 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
#endif
	};

	gpio-keys {
		compatible = "gpio-keys";
		status = "okay";
#if 0
		button1 {
			label = "IN1";
			linux,code = <432>;
			gpios = <&gpio2 0 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button2 {
			label = "IN2";
			linux,code = <433>;
			gpios = <&gpio2 1 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button3 {
			label = "IN3";
			linux,code = <434>;
			gpios = <&gpio2 2 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button4 {
			label = "IN4";
			linux,code = <435>;
			gpios = <&gpio2 3 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button5 {
			label = "IN5";
			linux,code = <436>;
			gpios = <&gpio2 4 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button6 {
			label = "IN6";
			linux,code = <437>;
			gpios = <&gpio2 5 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button7 {
			label = "IN7";
			linux,code = <438>;
			gpios = <&gpio2 6 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
		button8 {
			label = "IN8";
			linux,code = <439>;
			gpios = <&gpio2 7 GPIO_OPEN_DRAIN>;
			debounce-interval = <20>;
		};
#endif
	};
};

&pcie1 {
	status = "disabled";
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	dtt@4c {
		compatible = "national,lm90";
		reg = <0x4C>;
	};

	/* U23 */
	gpio2: pca9575@20 {
		compatible = "nxp,pca9575";
		reg =<0x20>;
		/* GPIO pin base & pin0# = 432 */
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio1>;
		interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
		vcc-supply = <&reg_3p3v>;
		reset-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
	};
};

&qspi {
	num-cs = <1>;
	bus-num = <0>;
	status = "okay";

	qflash0: n25q00a@0 {
		compatible = "micron,n25q00a", "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		m25p,fast-read;
		spi-max-frequency = <20000000>;
		reg = <0>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			partition0 {
				label = "0";
				reg = <0x00A00000 0x00800000>;
			};
			partition1 {
				label = "1";
				reg = <0x01200000 0x05580000>;
			};
			partition2 {
				label = "2";
				reg = <0x07780000 0x00080000>;
			};
			partition3 {
				label = "3";
				reg = <0x07800000 0x00800000>;
			};
			partitionB {
				label = "B";
				reg = <0x00100000 0x00100000>;
			};
			partitionE {
				label = "E";
				reg = <0x00200000 0x00040000>;
			};
			/* Partition used for /CCA */
			partition6 {
				label = "6";
				reg = <0x06780000 0x01000000>;
			};
		};
	};
};

&dspi {
	bus-num = <1>;
	status = "okay";

	dflash: s25fl008k@0 {
		compatible = "spansion,s25fl008k", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <1000000>;
		m25p,fast-read;
#if 0
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "SPI MBR";
				reg = <0x00000000 0x00002000>;
				read-only;
			};
			partition@2000 {
				label = "SPI ENV";
				reg = <0x00002000 0x00006000>;
				read-only;
			};
			partition@8000 {
				label = "SPI FS";
				reg = <0x00008000 0x000F8000>;
			};
		};
#endif
	};
#if 0
	spi@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <10000000>;
	};

	spi@2 {
		compatible = "spidev";
		reg = <2>;
		spi-max-frequency = <10000000>;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
	};
#endif
/*** Disabled until RCW will be changed
	mmc-spi@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mmc-spi-slot";
		reg = <1>;
		spi-max-frequency = <5000000>;
		voltage-ranges = <3200 3400>;
		spi-rx-bus-width = <1>;
		spi-tx-bus-width = <1>;
		disable-wp;
		disable-cd;
	};
***/
};


&pfe {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	pfe_mac0: ethernet@0 {
		compatible = "fsl,pfe-gemac-port";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0>;	/* GEM_ID */
		fsl,gemac-bus-id = <0x0>;	/* BUS_ID */
		fsl,mdio-mux-val = <0x0>;
		phy-mode = "sgmii";
		phy-handle = <&sgmii_phy1>;
	};

	pfe_mac1: ethernet@1 {
		compatible = "fsl,pfe-gemac-port";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x1>;	/* GEM_ID */
		fsl,mdio-mux-val = <0x0>;
		phy-mode = "sgmii";
		phy-handle = <&sgmii_phy2>;
	};

	mdio@0 {
		#address-cells = <1>;
		#size-cells = <0>;

		sgmii_phy1: ethernet-phy@4 {
			reg = <0x4>;
		};

		sgmii_phy2: ethernet-phy@5 {
			reg = <0x5>;
		};
	};
};

&esdhc0 {
	non-removable;
	status = "okay";
};

&usb0 {
	status = "okay";
};

&wdog0 {
	status = "okay";
};

&usb1 {
	status = "disabled";
};

&gpio0 {
	ngpios = <32>;
	gpio-line-names =	"UART1_SOUT",
				"UART1_SIN",
				"IIC1_SCL",
				"IIC1_SDA",
				"QSPI_A_SCK",
				"QSPI_A_CS0",
				"UART2_SIN",
				"UART2_RTS_B",
				"UART2_SOUT",
				"UART2_CTS_B",
				"GPIO1_10",
				"QSPI_A_DATA0",
				"QSPI_A_DATA1",
				"QSPI_A_DATA2",
				"QSPI_A_DATA3",
				"SHDC1_CMD",
				"SHDC1_DAT0",
				"SHDC1_DAT1",
				"SHDC1_DAT2",
				"SHDC1_DAT3",
				"SHDC1_CLK",
				"GPIO1_21",	/* SDHC1_CD_B PHY_A_#RST reset */
				"GPIO1_22",	/* SDHC1_WP PHY_B_#RST reset */
				"SDHC1_VSEL",
				"SPI_MOSI",
				"SPI_CS0",
				"SPI_CS1",
				"SPI_CS2",
				"SPI_MISO",
				"SPI_CLK",
				"GPIO_EXP_RST", /* GPIO1_30 */
				"MODULE_RST";
};

&gpio1 {
	ngpios = <32>;
	gpio-line-names =	"USB1_DRVVBUS",
				"USB1_PWR_FAULT",
				"PHY_A_IRQ",
				"SPI_CS3",		/* EC1_TXD2 GPIO2_03 */
				"IRQ1",			/* EC1_TXD1 GPIO2_04 */
				"IRQ2",			/* EC1_TXD0 GPIO2_05 */
				"IRQ3",			/* EC1_TX_EN GPIO2_06 */
				"IRQ5",			/* EC1_GTX_CLK GPIO2_07 */
				"reserved",
				"IRQ6",			/* EC1_RXD3 GPIO2_09 */
				"IRQ0",			/* EC1_RXD2 GPIO2_10 */
				"GPIO2_11",		/* EC1_RXD1 GPIO2_11  Dongle A13 */
				"GPIO_EXP_IRQ0",
				"PHY_B_IRQ",
				"GPIO2_14",		/* EC1_RX_DV GPIO2_14 Dongle B13 */
				"EMI1_MDC",
				"EMI1_MDIO",
				"TMP_DETECT_N",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved",
				"reserved";
};

/* U23 */
&gpio2 {
	ngpios = <16>;
	gpio-line-names =	"BP85",			/* GPIO10 */
				"BP83",			/* GPIO11 */
				"BP81",			/* GPIO12 */
				"BP79",			/* GPIO13 */
				"BP53",			/* GPIO5 */
				"BP55",			/* GPIO6 */
				"BP57",			/* GPIO7 */
				"BP49",			/* GPIO2 */
				"BP47",			/* GPIO0 */
				"BP41",			/* GPIO4 */
				"BP59", 		/* IRQ_OUT */
				"WDI",			/* GPIO14 */
				"BP45",			/* GPIO1 */
				"BP43",			/* GPIO3 */
				"BP110",		/* GPIO9 */
				"BP108";		/* GPIO8 */
};
